
.mobile-header-hamburger {
    border: 1px solid #333;
    display:inline;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px){
    .mobile-header {
        display: none;
    }
}
